{
   "jsonrpc": "2.0",
   "method": "httptest.create",
   "params": {
      "name": "{{item.name}}",
      "hostid": "{{z_hostid}}",
      "applicationid": "{{z_applicationid}}",
      "delay": "{{z_interval}}",
      "retries": "{{z_retries}}",
      "agent": "{{z_agent}}",
      {% if item.https is defined and item.https == 'yes' %}
      "verify_peer": 1,
      "verify_host": 1,
      {% endif %}
      "steps": [
         {
            "name": "HTTP Homepage",
            "url": "http://{{item.url}}",
            "status_codes": "{{item.status_codes|default('200')}}",
            "retrieve_mode": "{% if item.method is defined and item.method == 'GET' %}0{% else %}1{% endif %}",
            {% if item.method is defined %}
            "required": "{{item.expected}}",
            {% endif %}
            "no": 1
         }{% if item.https is defined and item.https == 'yes' %},
         {
            "name": "HTTPs Homepage",
            "url": "https://{{item.url}}",
            "status_codes": "{{item.status_codes|default('200')}}",
            "retrieve_mode": "{% if item.method is defined and item.method == 'GET' %}0{% else %}1{% endif %}",
            {% if item.expected is defined %}
            "required": "{{item.expected}}",
            {% endif %}
            "no": 2
         }{% endif %}
      ]
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
