{
   "jsonrpc": "2.0",
   "method": "trigger.create",
   "params": {
      "description": "Website {{item.name}} is DOWN",
      "expression": "{% raw %}{{% endraw %}{{z_sourcehost}}:web.test.fail[{{item.name}}].min(3m)}>0",
      "priority": 4,
      {% if item.https is defined and item.https == 'yes' %}
      "url": "https://{{item.url}}",
      {% else %}
      "url": "http://{{item.url}}",
      {% endif %}
      {% if item.trigger_tags is defined %}
      "tags": [
      {% for k,v in item.trigger_tags.iteritems() %}
         {
            "tag": "{{k}}",
            "value": "{{v}}"
         },
      {% endfor %}
      ]
      {% endif %}
   },
   "auth": "{{z_authtoken}}",
   "id": 1
}
